body{
    background-color: white;
}
/* trtrtrtrt */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}
