body{
    background-color: white;
}
/* trtrtrtrt */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(210, 255, 234);
    border: 10px solid green;

}
